In [1]:
import pandas as pd

In [3]:
btcusdt = pd.read_csv('BTCUSDT_1h.csv')

In [7]:
btcusdt

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_vol,taker_quote_vol
0,1704067200000,42283.58,42554.57,42261.02,42475.23,1271.68108,1704070799999,5.395725e+07,47134,682.57581,2.895742e+07
1,1704070800000,42475.23,42775.00,42431.65,42613.56,1196.37856,1704074399999,5.098489e+07,50396,712.32227,3.035565e+07
2,1704074400000,42613.57,42638.41,42500.00,42581.10,685.21980,1704077999999,2.916738e+07,29863,288.98864,1.230102e+07
3,1704078000000,42581.09,42586.64,42230.08,42330.49,794.80391,1704081599999,3.370905e+07,38620,356.37209,1.511300e+07
4,1704081600000,42330.50,42399.99,42209.46,42399.99,715.41760,1704085199999,3.027162e+07,36038,371.12012,1.570362e+07
...,...,...,...,...,...,...,...,...,...,...,...
3274,1715853600000,66364.69,66364.69,66100.00,66169.99,747.09629,1715857199999,4.946380e+07,34370,322.75738,2.136819e+07
3275,1715857200000,66170.00,66585.70,66000.00,66503.80,933.73337,1715860799999,6.185368e+07,60929,512.66956,3.397043e+07
3276,1715860800000,66503.81,66752.01,65904.76,66011.01,2444.27960,1715864399999,1.619270e+08,119071,1261.73855,8.359828e+07
3277,1715864400000,66011.01,66367.92,65759.99,66328.05,1698.98043,1715867999999,1.122109e+08,68994,882.84958,5.830984e+07
3278,1715868000000,66328.06,66393.29,65976.01,66054.88,542.82448,1715871599999,3.590051e+07,20797,288.26584,1.906057e+07

In [6]:
btcusdt.drop(columns=['ignore', 'order_book'], inplace=True)